<section class="full_list" >
    <div class="full_left" style="padding-bottom: 60px;">
        <div class="content">
            <div class="edit">
                <div class="edit_pic">
                    <div class="pic">
                        <% if (myinfo.picture) { %>
                        <img src="/image/userpic/<%=myinfo.picture%>">
                        <% } else { %>
                            <img src="/image/userpic/nopic.jpg">
                        <% } %>
                    </div>
                    <div class="item_detail">
                        <h1><%=myinfo.username%></h1>
                    </div>
                </div>
                <form class="edit_detail" action="/users/edit/password" method="POST">
                    <div class="item">
                        <aside>
                            <label for="prev_password">이전 비밀번호</label>
                        </aside>
                        <div class="item_column">
                            <div class="item_detail">
                                <input type="password" name="prev_password" placeholder="이전 비밀번호" value="">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <aside>
                            <label for="next_password1">새 비밀번호</label>
                        </aside>
                        <div class="item_column">
                            <div class="item_detail">
                                <input type="password" name="next_password1" placeholder="새 비민번호" value="">
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <aside>
                            <label for="next_password2">새 비밀번호 확인</label>
                        </aside>
                        <div class="item_column">
                            <div class="item_detail">
                                <input type="password" name="next_password2" placeholder="새 비밀번호 확인" value="">
                            </div>
                        </div>
                    </div>
                    <% if (locals.Msg) { %>
                    <h2 class="alert">
                        <%=locals.Msg%>
                    </h2>
                    <% } %>
                    <div class="button">
                        <button type="submit">정보변경</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <%- include('../include/full_right') %>
</section>
