<section class="full_list">
    <div class="root">
        <main role="main">
            <article class="login">
                <div class="right">
                    <div class="rightDetail">
                        <h1 class="sitename">Clone Instagram</h1>
                        <div class="loginForm">
                            <h2 class="text"><img src="/image/cake.png"></h2>
                            <%=locals.Msg%>
                        </div>
                    </div>
                    <div class="rightDetail">
                        <p class="join">5초 뒤에 이동됩니다.</p>
                        <script type='text/javascript'>
                            <!--
                            setTimeout("location.href='/'", 5000);
                            //-->
                        </script>
                    </div>
                </div>

            </article>
        </main>
    </div>
</section>
